<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

    <div class="container">
        <!-- Left Side: Title -->
        <div class="left-section">
            <h1><span class="brand" style="color: chartreuse;">Happi</span> Residence</h1>
        </div>

        <!-- Right Side: Login Form -->
        <div class="right-section">
            <div class="login-box">
                <i class='bx bx-user-circle'></i>
                <h2>Login</h2>
                <form id="loginForm" action="/login" method="POST">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>

                    <label for="password">Password:</label>
                        <div class="password-container">
                            <input type="password" id="password" name="password" required>
                            <i class='bx bx-show' id="togglePassword"></i>
                        </div>
                    <button type="submit">Login</button>
                    
                    
                    
                    <p>Don't have an account? <a href="/register" style="text-decoration: none;">Register</a></p>
                </form>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('togglePassword').addEventListener('click', function () {
            let passwordInput = document.getElementById('password');
            let icon = this;
            
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                icon.classList.remove('bx-show');
                icon.classList.add('bx-hide');
            } else {
                passwordInput.type = 'password';
                icon.classList.remove('bx-hide');
                icon.classList.add('bx-show');
            }
        });
    </script>
    

</body>
</html>
